header {
	width: 100%;
	height: 50px;
	background-color: darkgrey;
	line-height: 50px;
}

nav{
	display: flex;
	justify-content: flex-end;
}

nav a {
	margin: auto 20px;
	color: #343131;
	text-decoration: none;
}

.active{
	text-decoration: underline;
}
