
.description{
	margin-left: 100px;
	margin-top: 100px;
}

.about{
	margin-bottom: 100px;
}

.about a{
	color: red;
}

.products{
	font-weight: bold;
}

.product-name a{
	color: red;
	font-weight: bold;
	display: block;
	margin-bottom: 30px;
	text-decoration: none;
}
